@page
@model IndexModel
@{    
    ViewData["Title"] = "Hen House";
}

<div class="text-center">
    <h1 class="display-4">Pegg's Eggs</h1>
    <h1 class="display-3">Happy hens.  Healthy eggs.</h1>
    <br>
    <p>Delivered fresh from our home to yours.  
        <a class="nav-link text-dark" asp-area="" asp-page="/Shop">Order Now.</a></p>
    <hr />
    <div></div>
</div>
