@page
@model IndexModel
@{    
    ViewData["Title"] = "Hen House";
}

<div class="text-center">
    <h1 class="display-4">Pegg's Eggs</h1>
    <h1 class="display-4">Happy hens.  Healthy eggs.</h1>
    <p>Shop | About Pegg | Contact</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
